$primary: #5265E1;
$secondary: #FA5959;
$enable-shadows: true;

.nav-link {
    background-color: #FA5959;
}

.nav-tabs {
    background-color: #FA5959;  
}

ul:hover {
    color: #FA5959 !important;
}

.btn-secondary:hover {
    background-color: white !important; 
    color: #FA5959 !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: #5265E1 !important;
}

.btn-light:hover {
    background-color: white !important;
    color: rgb(117, 115, 115) !important;
    border-color: rgb(117, 115, 115) !important;
}

%cards {
    border-radius: 25px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 280px;
    align-items: center;
}

.card:nth-child(1) {
    @extend %cards;   
}

.card:nth-child(2) {
    @extend %cards;
}

.card:nth-child(3) {
    @extend %cards;
}

.footerIcons:hover {
    fill: #FA5959 !important;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

