$primary: #5265E1;
$secondary: #FA5959;
$enable-shadows: true;

ul:hover {
    color: #FA5959 !important;
}

.btn-secondary:hover {
    background-color: white !important; 
    color: #FA5959 !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: #5265E1 !important;
}

.btn-light:hover {
    background-color: white !important;
    color: rgb(117, 115, 115) !important;
    border-color: rgb(117, 115, 115) !important;
}

.containerCards {
    height: 700px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

%cards {
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card:nth-child(1) {
    @extend %cards;
    align-items: flex-start;    
}

.card:nth-child(2) {
    @extend %cards;
    align-items: center;    
}

.card:nth-child(3) {
    @extend %cards;
    align-items: flex-end;    
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

