$primary: #5265E1;
$secondary: #FA5959;
$enable-shadows: true;

ul:hover {
    color: #FA5959 !important;
}

.btn-secondary:hover {
    background-color: white !important; 
    color: #FA5959 !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: #5265E1 !important;
}

.btn-light:hover {
    background-color: white !important;
    color: rgb(117, 115, 115) !important;
    border-color: rgb(117, 115, 115) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

